/*Copyright (c) DevSec Studio. All rights reserved.

MIT License

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED *AS IS*, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/

/*----QMessageBox---*/
QMessageBox
{
        height: 300px;
        min-height: 300px;
        max-height: 300px;
        max-width: 320px;
}

/*-----QWidget-----*/
QWidget
{
	background-color: #fff;
        color: black;

}


/*-----QLabel-----*/
QLabel
{
	background-color: transparent;
	color: #454544;
	font-weight: bold;
        font-size: 13px;
        font-family: Arial;

}


/*-----QPushButton-----*/
QPushButton
{
        background-color: #FFCC01;
        color: #191919;
        font-size: 14px;
	font-weight: bold;
        border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
	padding: 10px;

}
QPushButton#linkButton
{
        background-color: blue;
        border: 1px solid darkerblue;
}


QPushButton::disabled
{
        background-color: #FFF1D1;

}


QPushButton::hover
{
        background-color: #FFDE80;

}


QPushButton::pressed
{
        background-color: #F1CC05;

}


/*-----QCheckBox-----*/
QCheckBox
{
	background-color: transparent;
        color: #262624;
	font-size: 10px;
	font-weight: bold;
	border: none;
	border-radius: 5px;

}


/*-----QCheckBox-----*/
QCheckBox::indicator
{
    background-color: #323232;
    border: 1px solid darkgray;
    width: 12px;
    height: 12px;

}


QCheckBox::indicator:checked
{
    image:url(":/images/check.png");
        background-color: #FFCC01;
    border: 1px solid #FFCC01;

}


QCheckBox::indicator:unchecked:hover
{
    border: 1px solid #FFCC01;

}


QCheckBox::disabled
{
	color: #656565;

}


QCheckBox::indicator:disabled
{
	background-color: #656565;
	color: #656565;
    border: 1px solid #656565;

}


/*-----QLineEdit-----*/
QLineEdit
{
        background-color: #BCBDBB;
        color: #FFCC01;
	border: none;
	padding: 5px;

}


/*-----QListView-----*/
QListView
{
        background-color: #FFF8D9;
        color: #707070;
	font-size: 14px;
	font-weight: bold;
	show-decoration-selected: 0;
	border-radius: 4px;
	padding-left: -15px;
	padding-right: -15px;
	padding-top: 5px;

} 


QListView:disabled 
{
	background-color: #5c5c5c;

}


QListView::item
{
        background-color: #423E36;
	border: none;
	padding: 10px;
	border-radius: 0px;
	padding-left : 10px;
	height: 32px;

}


QListView::item:selected
{
        color: #141414;
        background-color: #FFE688;

}


QListView::item:!selected
{
        color:#5A5A5A;
	background-color: transparent;
	border: none;
	padding-left : 10px;

}


QListView::item:!selected:hover
{
        color: #303030;
        background-color: #FFF0B2;
	border: none;
	padding-left : 10px;

}


/*-----QTreeView-----*/
QTreeView 
{
	background-color: #fff;
	show-decoration-selected: 0;
	color: #454544;

}


QTreeView:disabled
{
	background-color: #242526;
	show-decoration-selected: 0;

}


QTreeView::item 
{
	border-top-color: transparent;
	border-bottom-color: transparent;

}


QTreeView::item:hover 
{
	background-color: #bcbdbb;
	color: #000;

}


QTreeView::item:selected 
{
        background-color: #FFCC01;
	color: #fff;

}


QTreeView::item:selected:active
{
        background-color: #FFCC01;
	color: #fff;

}


QTreeView::item:selected:disabled
{
	background-color: #525251;
	color: #656565;

}


QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings 
{
	image: url(://tree-closed.png);

}

QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings  
{
	image: url(://tree-open.png);

}


/*-----QTableView & QTableWidget-----*/
QTableView
{
    background-color: #fff;
	border: 1px solid gray;
    color: #454544;
    gridline-color: gray;
    outline : 0;

}


QTableView::disabled
{
    background-color: #242526;
    border: 1px solid #454544;
    color: #656565;
    gridline-color: #656565;
    outline : 0;

}


QTableView::item:hover 
{
    background-color: #bcbdbb;
    color: #000;

}


QTableView::item:selected 
{
        background-color: #FFCC01;
    color: #fff;

}


QTableView::item:selected:disabled
{
    background-color: #1a1b1c;
    border: 2px solid #525251;
    color: #656565;

}


QTableCornerButton::section
{
        background-color: #BCBDBB;
	border: none;
    color: #fff;

}


QHeaderView::section
{
        color: #FFCC01;
	border: 0px;
        background-color: #BCBDBB;
	padding: 5px;

}


QHeaderView::section:disabled
{
    background-color: #525251;
    color: #656565;

}


QHeaderView::section:checked
{
    color: #fff;
    background-color: #FFCC01;

}


QHeaderView::section:checked:disabled
{
    color: #656565;
    background-color: #525251;

}


QHeaderView::section::vertical::first,
QHeaderView::section::vertical::only-one
{
    border-top: 1px solid #353635;

}


QHeaderView::section::vertical
{
    border-top: 1px solid #353635;

}


QHeaderView::section::horizontal::first,
QHeaderView::section::horizontal::only-one
{
    border-left: 1px solid #353635;

}


QHeaderView::section::horizontal
{
    border-left: 1px solid #353635;

}


/*-----QScrollBar-----*/
QScrollBar:horizontal 
{
    background-color: transparent;
    height: 8px;
    margin: 0px;
    padding: 0px;

}


QScrollBar::handle:horizontal 
{
    border: none;
	min-width: 100px;
    background-color: #FFE8A6;

}


QScrollBar::add-line:horizontal, 
QScrollBar::sub-line:horizontal,
QScrollBar::add-page:horizontal, 
QScrollBar::sub-page:horizontal 
{
    width: 0px;
    background-color: #BCBDBB;

}


QScrollBar:vertical 
{
    background-color: transparent;
    width: 8px;
    margin: 0;

}


QScrollBar::handle:vertical 
{
    border: none;
	min-height: 100px;
    background-color: #FFE8A6;

}


QScrollBar::add-line:vertical, 
QScrollBar::sub-line:vertical,
QScrollBar::add-page:vertical, 
QScrollBar::sub-page:vertical 
{
    height: 0px;
    background-color: #BCBDBB;

}


/*------Progress Bar--------*/
QProgressBar {
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
}

QProgressBar::chunk {
    background-color: #ffcc01;
    width: 20px;
    margin: 0.5px;
}

/*-------Radio Buttons--------*/
QRadioButton::indicator {
    width: 13px;
    height: 13px;
}

QRadioButton::indicator::unchecked {
    image: url(:/images/radioBtns/cRadio.png);
}

QRadioButton::indicator:unchecked:hover {
    image: url(:/images/radioBtns/cRadioHover.png);
}

QRadioButton::indicator::checked {
    image: url(:/images/radioBtns/cRadioChecked.png);
}

/*-----QTextEdit box outlines--------*/
QTextEdit {

    selection-color: yellow;
    selection-background-color: yellow;
    /*-- box-shadow: 0 0 10px #ffcc01;--*/
    border: 1px solid #ffcc01;
}


/*-----QSpinBox outlines--------*/
QSpinBox {

    selection-color: #000;
    background-color: #FFF1D1;
    selection-background-color: #FFDE80;

    border: 1px solid #ffcc01;
}

QSpinBox::up-button {
    border-image: url(:/images/radioBtns/spinUp.png)
}

QSpinBox::up-button:hover {
    border-image: url(:/images/radioBtns/spinUpHover.png);
}

QSpinBox::up-button:pressed {
    border-image: url(:/images/radioBtns/spinUpPressed.png);
}

QSpinBox::down-button {
    border-image: url(:/images/radioBtns/spinDown.png)
}

QSpinBox::down-button:hover {
    border-image: url(:/images/radioBtns/spinDownHover.png);
}

QSpinBox::down-button:pressed {
    border-image: url(:/images/radioBtns/spinDownPressed.png);
}
QSpinBox::up-arrow:disabled,
QSpinBox::up-arrow:off { /* off state when value in min */
   image: url(:/images/radioBtns/spinUpDisabled.png);
}

QSpinBox::down-arrow:disabled,
QSpinBox::down-arrow:off { /* off state when value in min */
   image: url(:/images/radioBtns/spinDownDisabled.png);
}

/*-----QComboBox outlines--------*/
QComboBox {

    selection-color: #000;
    background-color: #FFF1D1;
    selection-background-color: #FFDE80;
    border: 1px solid #ffcc01;
    padding-left: 10px;
}

QComboBox::down-arrow {
    border-image: url(:/images/downArrow.png);
    width: 12px;
    height: 12px;
    margin-right: 15px;
}

QComboBox::on {
    border: 2px solid #ffcc01;
}


QComboBox::QPushButton:disabled,
QComboBox::QPushButton:off { /* off state when value in min */
   image: url(:/images/radioBtns/spinDownDisabled.png);
}
QComboBox::drop-down
{
    border: 0px;
}

